.foto1 {
    margin-left: 10px;
    margin-top: -350px;
    height: 900px;
}

.foto2 {
    margin-left: 50px;
    margin-top: -200px;
    height: 600px;
}

.foto3 {
    margin-left: 10px;
    margin-top: 0px;
    height: 800px;
}

.foto4  {
    margin-left: 50px;
    margin-top: 10px;
    height: 800px;
}